html {
    font-family: "Raleway", Raleway, sans-serif;
}

#fhead {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

#hebmarseille {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 60%;
}

img{
    width: 100%;
}

.hebmars {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    border-style: ridge;
    border-color: grey;
    border-width: 3px;
}

#hebmarseille>h2, #hebmarseille>p{
    width: 100%;
}

#popmarseille {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 30%;
}

.popmars {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    border-style: ridge;
    border-color: grey;
    border-width: 3px;
    width:30%;
}

#actmarseille {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.actmars {
    border-radius: 10px;
    border-style: ridge;
    border-color: grey;
    border-width: 3px;
    width:25%;
}

#foot {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f2f2f2;

}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.fa-star{
    color:#0065fc;
}