html {
    font-family: "Raleway", Raleway, sans-serif;
}
a:link, a:visited, a:focus, a:active, a{
    color: blue;
    text-decoration: none;
}

.linkfoot:link, .linkfoot:visited, .linkfoot:focus, .linkfoot:active{
    color: black;
}
#fhead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

#shead {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

#hebhead {
    border-top: 2px solid blue;
}

#fhead>img {
    width: 60%;
    max-width: 75px;
}

#hebpopflex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

#hebmarseille {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 60%;
}

.imheb{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img {
    width: 100%;
    max-height: 150px;
}

.hebmars {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    border-style: ridge;
    border-color: grey;
    border-width: 3px;
}

#hebmarseille>h2,
#hebmarseille>p {
    width: 100%;
}

#popmarseille {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 30%;
}

.popmars {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    border-style: ridge;
    border-color: grey;
    border-width: 3px;
    width: 90%;
}

.impop{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.popbox {
    display: flex;
    flex-direction: column;
}

.popstar {
    display: flex;
    flex-direction: row;
}

#actmarseille>h2 {
    width: 100%;
}

#actmarseille {
    display: grid;
    grid-template: repeat(6/1fr)/ repeat(4/1fr);
    margin-bottom: 30px;
}

.actmars {
    border-radius: 10px;
    border-style: ridge;
    border-color: grey;
    border-width: 3px;
    width: 25%;
}

#foot {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f2f2f2;

}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.fa-star {
    color: #0065fc;
}