#mars
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hebmarseille
{
    width: 30%;
}

#mars>h2{
    width: 100%;
}

#popmarseille
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

#actmarseille
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#foot
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.info
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}