html {
    font-family: "Raleway", Raleway, sans-serif;
}

#hebmars {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.hebmarseille {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    border-style: ridge;
    border-color: grey;
    border-width: 3px;
}

#mars>h2 {
    width: 100%;
}

#popmarseille {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.popmars {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    border-style: ridge;
    border-color: grey;
    border-width: 3px;
}

#actmarseille {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.actmars {
    border-radius: 10px;
    border-style: ridge;
    border-color: grey;
    border-width: 3px;
}

#foot {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f2f2f2;

}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}