html {
    font-family: "Raleway", Raleway, sans-serif;
}

a:link,
a:visited,
a:focus,
a:active,
a {
    color: #0065fc;
    text-decoration: none;
}

.hebmars:link,
.hebmars:visited,
.hebmars:active,
.hebmars:focus,
.popmars:link,
.popmars:visited,
.popmars:active,
.popmars:focus,
.actmars:link,
.actmars:visited,
.actmars:active,
.actmars:focus {
    color: black;
}



.linkfoot:link,
.linkfoot:visited,
.linkfoot:focus,
.linkfoot:active {
    color: black;
}

body {
    margin-top: 0%;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

header {
    margin: 25px;
    margin-top: 0%;
}

section {
    margin: 25px;
}


#fhead {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 3em;
    margin-bottom: auto;
}

.logo {
    max-height: 3em;
    margin-bottom: auto;
    padding-top: 35px;
}

header>img {
    padding-top: 0%;
}

#shead {
    width: 30%;

}

#fhead>img {
    width: 60%;
    max-width: 75px;
}

.ulhead {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 0%;
}

.hebhead {
    border-top-style: solid;
    color: #0065fc;
    border-width: 2px;
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.lihead {
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.lihead>.activite {
    color: black;
}

#intro {
    margin-top: 3em;
}

#filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#filter>p,
.fafil>p {
    margin: auto;
    margin-left: 1%;
    margin-right: 1%;
    font-weight: 600;
}

#formulaire {
    display: flex;

}

.recherche {
    border-color: grey;
    border-width: 1px;
    border-style: solid;
}

.formicon {
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.fa-map-marker-alt {
    margin: 12px;
}

.button {
    background-color: #0065fc;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -2px;
}

#hebpopflex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

#hebmarseille {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 60%;
    padding: 2em;
}

.imheb {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.hebmars {
    width: 28%;
    background-color: white;
    border-radius: 10px;
    border-style: hidden;
    border-width: 3px;
    margin: 2%;
    box-shadow: 1px 1px 10px #808080;
}

.hebmars>img {
    height: 60%;
}

#hebmarseille>h2,
#hebmarseille>p {
    width: 100%;
    padding-left: 2%;
}

#pophead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 25px;
}

.fa-chart-line {
    margin: auto;
}

#popmarseille {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 30%;
    padding: 2em;
}

.popmars {

    background-color: white;
    margin: 10px;
    border-radius: 10px;
    border-style: hidden;
    border-width: 3px;
    width: 90%;
    box-shadow: 1px 1px 10px #808080;
}

.popim {
    max-width: 35%;
    padding: 3px;
}

.imdiv{
    padding: 3px;
}

.impop {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.popbox {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.derouleur{
    font-weight: 600;
}

.hebstar {
    margin-left: 3%;
}

.star {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 3em;
    margin-left: 3%;
}

#actmarseille>h2 {
    width: 100%;
}

#actmarseille {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}



#gridact {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr   / 1fr 1fr 1fr 1fr;
}

#aport {
    grid-column: 1/2;
    grid-row: 1/8;
}

#afort {
    grid-column: 2/3;
    grid-row: 1/5;
}

#ailes {
    grid-column: 2/3;
    grid-row: 6/8;
}

#acal {
    grid-column: 3/4;
    grid-row: 1/8;
}

#agarde {
    grid-column: 4/5;
    grid-row: 1/4;
}

#along {
    grid-column: 4/5;
    grid-row: 5/8;
}

.divact1{
    grid-row: 1/6;
}


.actmars {
    border-radius: 10px;
    border-style: none;
    width: 85%;
    box-shadow: 1px 1px 10px #808080;
}

.actim {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: hidden;
}

.margtext {
    font-weight: 600;
    padding-left: 1em;
    margin-bottom: 10px;
}

.margtext>h3,
p {
    margin: 3%;
}

.margtext>p {
    font-weight: 500;
}

#foot {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f2f2f2;

}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: 2em;
    width: 250px;
}

.fa-star,
.fa-dog,
.fa-child,
.fa-heart,
.fa-money-bill-wave,
.fa-info-circle {
    color: #0065fc;
    margin: auto;

}

.fa-info-circle {
    margin-right: 5px;
    background-color: #0065fc;
    color: white;
    border-radius: 50px;
}

.fa-star {
    margin: 1px;
}

.gstar {
    color: #deebff;
}

.fafil {
    display: flex;
    flex-direction: row;
    margin: 15px;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: grey;

}

.fa-dog,
.fa-child,
.fa-heart,
.fa-money-bill-wave {
    border-radius: 25px;
    border-style: hidden;
    background-color: #deebff;
    padding: 15px;
    margin: -2px;
}

.filcase {
    padding-left: 10px;
    padding-right: 10px;
}

.filpet{
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
}