html {
    font-family: "Raleway", Raleway, sans-serif;
}

a:link, a:visited, a:focus, a:active, a{
    color: blue;
    text-decoration: none;
}

.hebmars:link, .hebmars:visited, .hebmars:active, .hebmars:focus,
.popmars:link, .popmars:visited, .popmars:active, .popmars:focus,
.actmars:link, .actmars:visited, .actmars:active, .actmars:focus{
    color: black;
}



.linkfoot:link, .linkfoot:visited, .linkfoot:focus, .linkfoot:active{
    color: black;
}

img {
    max-width:100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

header{
    margin: 25px;
}

section{
    margin: 25px;
}

#fhead {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 3em;
    padding-top: 48px;
}

.logo{
    max-height: 3em;
}
#shead {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


#hebhead {
    border-top: 2px solid blue;
    
}


#fhead>img {
    width: 60%;
    max-width: 75px;
}

#filter{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

#filter>p, .fafil>p{
    margin:auto;
    margin-left: 1%;
    margin-right: 1%;
    font-weight:600;
}

#formulaire{
    display: flex;
}

#formicon{
    background-color: #f2f2f2;
}

#button{
    background-color: #0065fc;
    color: white;
}

#hebpopflex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

#hebmarseille {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 60%;
    padding: 2em;
}

.imheb{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 180px;
}



.hebmars {
    width: 28%;
    background-color: white;
    border-radius: 10px;
    border-style: hidden;
    border-width: 3px;
    margin:2% ;
}

.hebmars>img{
height:60% ;
}

#hebmarseille>h2,
#hebmarseille>p {
    width: 100%;
    padding-left: 2%;
}

#pophead{
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 0px 25px;
}

.fa-chart-line{
    margin: auto;
}

#popmarseille {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 30%;
}

.popmars {
    
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    border-style: hidden;
    border-width: 3px;
    width: 90%;
}

.popim{
    max-width:35%;
}

.impop{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 3px;
    height: 100%;
}

.popbox {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.popstar {
    display: flex;
    flex-direction: row;
}

#actmarseille>h2 {
    width: 100%;
}

#actmarseille {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}



#gridact{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
}

#aport{
    grid-column: 1/2;
    grid-row:1/8 ;
}

#afort{
    grid-column: 2/3;
    grid-row:1/5 ;
}

#ailes{
    grid-column: 2/3;
    grid-row:6/8 ;
}

#acal{
    grid-column: 3/4;
    grid-row:1/8 ;
}

#agarde{
    grid-column: 4/5;
    grid-row:1/4 ;
}

#along{
    grid-column: 4/5;
    grid-row:5/8 ;
}

.actmars {
    border-radius: 10px;
    border-style: ridge;
    border-color: white;
    border-width: 3px;
    width: 85%;
}

.actim{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: hidden;
}

#foot {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f2f2f2;

}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.fa-star, .fa-dog, .fa-child, .fa-heart, .fa-money-bill-wave, .fa-info-circle {
    color: #0065fc;
    margin: auto;
    
}

.gstar{
    color: #deebff;
}

.fafil{
    display: flex;
    flex-direction: row;
    margin:15px;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    
}

.fa-dog, .fa-child, .fa-heart, .fa-money-bill-wave {
    border-radius: 25px;
    border-style: hidden;
    background-color: #deebff;
    padding: 15px;
}

.filcase{
    padding-left: 10px;
    padding-right: 10px;
}